
<div id="post_show_content" class="skinny_wrapper wrapper-padding">
  	<header>
  		<p class="date"><%= @post.created_at.strftime('%A, %B %d')%></p>
  		<h1><%=  @post.title %></h1>
  		<hr>
  	</header>
  	<div id="content">

  	<%= markdown @post.content %>

	</div>
		<hr>
	<div id="share-box">
		<p>Share the Do list</p>
		<a href=""><i class="fa fa-twitter"></i></a>
		<a href=""><i class="fa fa-facebook"></i></a>
		<a href=""><i class="fa fa-google-plus"></i></a>
	</div>
	<hr>

	<%= render 'disqus'%>

  </div>
  
<%= link_to "Edit post", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}%>